<% provide(:title, "")%>
<div>
  <h1 class="font-bold text-5xl text-blue-500">Pages#index</h1>
  <p data-controller="hello" data-action="click->hello#toggle">Find me in app/views/pages/index.html.erb</p>
</div>