<% if alert %>
  <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
    <p class="text-sm container mx-auto"><%= alert %></p>
  </div>
<% end %>

<% if notice %>
  <div class="bg-teal-100 border-t border-b border-teal-500 text-teal-700 px-4 py-3" role="alert">
    <p class="text-sm container mx-auto"><%= notice %></p>
  </div>
<% end %>